<div class="dashboard-container" fxLayout="column" fxLayoutAlign="start stretch">

  <!-- <div class="bg-app">
  </div> -->

  <div class="bg-app">
    <!-- Swiper image -->
    <swiper [config]="config" #usefulSwiper>
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of profiles">
          <div class="bg-img" [ngStyle]="{'background-image': 'url(' + item.url + ')'}"></div>
          <div class="description">
            <h1>{{item.category}}</h1>
            <p class="event_name">{{item.event_name}}</p>
            <div ngsyle="background-image: "></div>
            <p class="date_location">
              <img class="log-icon" src="../../../assets/img/icons/calendar-white.png" alt=""> {{item.date}}</p>
            <p class="date_location">
              <img class="log-icon" src="../../../assets/img/icons/location-white.png" alt=""> {{item.location}}</p>
            <div class="share_btns">
              <button class="left_btn" mat-button (click)="openBookingDialog(item.event_name)">Book Now</button>
              <button class="right_btn" mat-button (click)="openDescriptionDialog(item)">Description</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </div>

  <div class="event-sec">
    <h2>About The Ticket App</h2>
    <div class="des">
      <p>Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos. Mauris in erat justo. Morbi accumsan ipsum velit.Class aptent taciti sociosqu ad litora torquent
      per conubia nostra, per inceptos himenaeos.mauris vitae erat consequat auctor eu in elit.</p>

      <div class="category">
        <mat-icon style="color: lightgreen">library_music</mat-icon>
        <h4>MUSIC</h4>
        <p>The Mobile first responsive template with Material Design</p>
      </div>

      <div class="category">
        <mat-icon style="color: cornflowerblue">queue_music</mat-icon>
        <h4>CONCERTS</h4>
        <p>The Mobile first responsive template with Material Design</p>
      </div>

      <div class="category">
        <mat-icon style="color: skyblue">group</mat-icon>
        <h4>FAMILY</h4>
        <p>The Mobile first responsive template with Material Design</p>
      </div>

      <div class="category">
        <mat-icon style="color: fuchsia">device_hub</mat-icon>
        <h4>THEATER</h4>
        <p>The Mobile first responsive template with Material Design</p>
      </div>

      <div class="category">
        <mat-icon style="color: chartreuse">fitness_center</mat-icon>
        <h4>SPORT</h4>
        <p>The Mobile first responsive template with Material Design</p>
      </div>

      <div class="category">
        <mat-icon style="color: cyan">music_note</mat-icon>
        <h4>CIRCUS</h4>
        <p>The Mobile first responsive template with Material Design</p>
      </div>

      <div class="category">
        <mat-icon style="color: chartreuse">info_outline</mat-icon>
        <h4>OTHERS</h4>
        <p>The Mobile first responsive template with Material Design</p>
      </div>



    </div>
  </div>

</div>
